body {
    height: 100vh;
    width: 100vw;
    padding: 0;
}


i {
    color: gray;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.list-wrapper {
    width: 90%;
}

.action-icon {
    width: 35px;
    height: 30px;
    border-radius: 25px;
    padding: 0;
}