body {
    height: 100vh;
    width: 100vw;
}

i {
    color: gray;
}

.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

.profile-img-container {
    display: flex;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid lightgray;
}

.img-profile {
    max-height: 5rem;
}

.contact-list-group {
    display: flex;
    max-height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid lightgray;
    border-radius: 25px;
}

.action-icon {
    width: 35px;
    height: 30px;
    border-radius: 25px;
    padding: 0;
    float: right;
}